@font-face {
    font-family: 'iconfont';  /* project id 431983 */
    src: url('//at.alicdn.com/t/font_431983_ws6cqo5fdnzpk3xr.eot');
    src: url('//at.alicdn.com/t/font_431983_ws6cqo5fdnzpk3xr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_431983_ws6cqo5fdnzpk3xr.woff') format('woff'),
    url('//at.alicdn.com/t/font_431983_ws6cqo5fdnzpk3xr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_431983_ws6cqo5fdnzpk3xr.svg#iconfont') format('svg');
}

.user-name::before{
    content:'\e6c8';
    font-family: 'iconfont';
    font-size: 22px;
    color:@font-color-19;
}
.pass-word::before{
    content:'\e6c7';
    font-family: 'iconfont';
    font-size: 22px;
    color:@font-color-19;
}
.goin::before{
    content:'\e61a';
    font-family: 'iconfont';
    font-size: 22px;
    color:@font-color-3;
}
.search::before{
    content:'\e634';
    font-family: 'iconfont';
    font-size: 22px;
    color:@font-color-13;
}
.search-modal::before{
    content:'\e634';
    font-family: 'iconfont';
    font-size: 22px;
    color:@font-color-3;
}
.new-add::before{
    content:'\e6b9';
    font-family: 'iconfont';
    font-size: 14px;
    color:@font-color-5;
}
.meeting::before{
    content:'\e609';
    font-family: 'iconfont';
    font-size: 14px;
    color:@font-color-5;
}
.task::before{
    content:'\e600';
    font-family: 'iconfont';
    font-size: 14px;
    color:@font-color-5;
}
.user-select::before{
    content:'\e60b';
    font-family: 'iconfont';
    font-size: 12px;
    color:@font-color-5;
}
.patients-man::before{
    content:'\e61b';
    font-family: 'iconfont';
    font-size: 16px;
    color:@icon-bg-color-2;
}
.patients-women::before{
    content:'\e60d';
    font-family: 'iconfont';
    font-size: 15px;
    color:@font-color-11;
}
.dialog-needle::before{
    content:'\e612';
    font-family: 'iconfont';
    font-size: 10px;
    color:@icon-bg-color-7;
   // .box-shadow(0px,-2px,2px,0px,rgba(0,0,0,0.29)); 
}
.close-modal::before{
    content:'\e646';
    font-family: 'iconfont';
    font-size: 14px;
    color:@icon-bg-color-7;
}