@charset 'UTF-8';
.screen{
	width:100%;
	// max-height: calc(~"100% - 10px");
	position:absolute;
	top:40px;
	left:0px;
	background:@icon-bg-color-6;
	.box-shadow(0px,2px,4px,0px,rgba(0, 0, 0, 0.2));
	.border-radius(4px,4px,4px,4px);
	z-index: 6;
	padding:10px 10px 20px;
	display: none;
	.screen-dialog{
		color:@icon-bg-color-6;
		position: absolute;
		top:-13px;
		left:305px;
	}
	.screen-main{
		width: 100%;
		max-height: calc(~"100%");
		// overflow-y: auto;
	}
}
.screen-table {
  width: 100%;
  height: auto;
  padding: 5px 0px 5px;
  .table-title{
  	height: 20px;
  	font-size:@font-size-14;
	color:@font-color-7;
	line-height: 20px;
	span{
		text-align:center;
		display: block;
		float: left;
	}
  }
  .screen-conditions-row{
  	height: 34px;
  	font-size:@font-size-14;
	color:@font-color-1;
	text-align: left;
	margin:10px 0px;
	.colm{
	    float: left;
	    height:34px;
	}
  }
  .colm-15{
  	width:calc(~"100% - 84%");
  	font-weight: normal;
  }
  .colm-20{
  	width:calc(~"100% - 78%");
  	font-weight: normal;
  }
  .colm-35{
  	width:calc(~"100% - 64%");
  	font-weight: normal;
  }
  .colm-btn{
  	width:88px;
  	font-weight: normal;
  }
  .date-select{
  	height:34px;
  	line-height: 34px;
  	width:calc(~"100% -10px");
  	margin:0px auto;
  	background-color: @font-color-3;
  	.border-radius(4px,4px,4px,4px);
  	.border(1px,solid,@font-color-9);
  }
  .colm-btn-box	{
  	height:34px;
  	line-height: 34px;
  	width:calc(~"100% -10px");
  	margin:0px auto;
  }
  .screen-icon{
  	width:34px;
  	height: 34px;
  	.border(1px,solid,@font-color-4);
  	line-height: 34px;
  	text-align: center;
  	font-size:@font-size-19;
  	float: left;
  	cursor: pointer;
  	.border-radius(4px,4px,4px,4px);
  }
  .screen-add{
  	color:@font-color-3;
  	background:@font-color-4;
  	margin-right: 10px;
  }
  .screen-reduction{
  	color:@font-color-4;
  	background:@font-color-3;
  }
  .date-select-text{
  	width: 100%;
  	height: 34px;
  	line-height:34px;
  	font-size: @font-size-14;
  	color:@font-color-1;
  	padding:0px 5px;
  	background:@font-color-3;
  	.border(1px,solid,@font-color-9);
  	.border-radius(4px,4px,4px,4px);
  }
  .date-select-time{
  	width:100%;
  	height: 34px;
  	line-height: 34px;
  	.right-content{
  		float:left;
  		width:calc(~"(100% - 12px)/2");
  		position: relative;
  		.date-input{
  			width: 100%;
		    height: 32px;
		    line-height: 32px;
		    color: @font-color-1;
		    font-size: @font-size-14;
		    .border(1px,solid,@font-color-9);
		    background: @font-color-3;
		    .border-radius(4px,4px,4px,4px);
		    padding: 0px 25px 0px 10px;
  		}
  		.date-icon{
			width: 14px;
		    height: 14px;
		    line-height: 14px;
		    display: inline-block;
		    position: absolute;
		    top: 9px;
		    right: 11px;
  		}
  	}
  	.contact-line{
  		width:12px;
  		height: 34px;
  		display: block;
  		float: left;
  		color:@font-color-1;
  		text-align: center;
  	}
  }
}
.screen-btn{
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: right;
	overflow: hidden;
	font-size: @font-size-14;
}
.screen-close{
	color:@font-color-4;
	margin-right:10px;
}
.screen-search-btn{
	.search{
		font-size: 18px;
	}
	line-height: 28px;
}
.remeber-filter{
  float: left;
  height:30px; 
  font-size:@font-size-14;
  color:@font-color-7;
  label{
    font-weight: normal;
  }
  .checkbox-remeber{
    float: left;
    line-height: 30px;
    margin-right:15px;
    input{
      float: left;
      margin-right:5px;
      width: 15px;
      height: 15px;
      margin-top: 8px;
    }
  }
  .filter-name{
    float: left;
    line-height: 30px;
    input{
      height: 28px;
      .border(1px,solid,@font-color-9);
      line-height: 28px;
      padding:0px 5px;
      background-color: @font-color-3;
      margin-left:5px;
    }
  }
}