<div class="modal-title" drag-modal>
    <span class="title" data-ng-bind="items.title"></span>
    <i class="close-modal" data-ng-click="viewTeachingResourcesCtrlVm.closedModal()"></i>
</div>

<!-- 新增科室或者修改科室 -->
<div class="sure-patient add-department dryad-drag-disabled">
    <div class="patientinfo">
        <span class="left-title">角色名称:</span>
        <span class="right-content">
            <input type="text" class="user-input" placeholder="请输入角色名称" data-ng-model="roleObj.name">
        </span>
    </div>
    <div class="patientinfo department-textarea">
        <span class="left-title">角色描述:</span>
        <span class="right-content">
            <div class="description-textarea">
                <textarea data-ng-model="roleObj.description" placeholder="请输入角色描述"></textarea>
            </div>
        </span>
    </div>
    <!-- 按钮 -->
    <div class="patientinfo text-right programs-btn">
        <a data-ng-click="viewTeachingResourcesCtrlVm.closedModal()" class="button botton-close">取消</a>
        <a data-ng-click="viewTeachingResourcesCtrlVm.sure()" class="button-default botton-save"><i class="save save-icon"></i>保存</a>
    </div>
</div>