<div class="modal-title">
    <span data-ng-bind="items.title"></span>
    <i class="close-modal" data-ng-click="addEditProgramCtrlVm.closedModal()"></i>
</div>

<!-- 新增科室或者修改科室 -->
<div class="sure-patient add-department">
    <div class="patientinfo">
        <span class="left-title">区域中心名称:</span>
        <span class="right-content">
            <input type="text" class="user-input" placeholder="请输入区域中心名称" data-ng-model="orginalCenter.name">
        </span>
    </div>
    <div class="patientinfo multiple">
        <span class="left-title">中心下辖省份:</span>
        <span class="right-content">
            <div class="nature-select">
                <ui-select data-ng-model="orginalCenter.provinces" search-enabled="false" multiple>
                    <ui-select-match placeholder="请选择"><span class="select-value" data-ng-bind="$item.name"></span></ui-select-match>
                <ui-select-choices repeat="item.id as item in selectList">
                    <span data-ng-bind="item.name"></span>
                </ui-select-choices>
                </ui-select>
            </div>
        </span>
    </div>
    <div class="patientinfo department-textarea">
        <span class="left-title">区域中心说明:</span>
        <span class="right-content">
            <div class="description-textarea">
                <textarea data-ng-model="orginalCenter.description" placeholder="请输入区域中心说明"></textarea>
            </div>
        </span>
    </div>
    <!-- 按钮 -->
    <div class="patientinfo text-right programs-btn">
        <a data-ng-click="addEditProgramCtrlVm.closedModal()" class="button botton-close">取消</a>
        <a data-ng-click="addEditProgramCtrlVm.sure()" class="button-default botton-save"><i class="save save-icon"></i>保存</a>
    </div>
</div>