<div class="system">
    <div class="medical-history-details">
        <div class="main-right-search">
            <div class="searchTitle">
                <label class="head-search">
                    <span class="search-input">
                        <ui-select ng-model="searchkey"
                                theme="bootstrap"
                                reset-search-input="true">
                            <ui-select-match placeholder="请输入关键词搜索">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="address.id as address in searchSelect track by $index" 
                                data-ng-hide="searchSelect.length == 0" class="set-width">
                                <div ng-bind-html="address.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </span>
                    <i class="search searchBg"></i>
                </label>
                <dryad-screen-ui search-fn="searchFn"></dryad-screen-ui>
                <a data-ng-click="editeAdd(null,'add')" class="exportBtn button-default botton-save">
                    <i class="new-add"></i> 新增区域中心
                </a>
            </div>
            <!-- grid -->
            <div class="dryad-grid medical-history-height">
                <dryad-ui-grid grid-options="gridOptions"></dryad-ui-grid>
            </div>
            <!-- page -->
            <div class="common-page">
                <dryad-ui-page page-config="pageConfig"></dryad-ui-page>
            </div>
        </div>
    </div>
</div>
