@charset 'UTF-8';
// 基本信息
.patients-baseinfo{
	width: 100%;
	height: calc(~"100% - 64px");
	overflow-y: auto;
	overflow-x: hidden;
	.baseinfo-row{
		width: 100%;
		height: 32px;
		line-height:32px;
		padding:0px 10px;
		font-size:@font-size-14;
	}
	.row-key{
		width:100px;
		color:@font-color-5;
		text-align: right;
		margin-right:10px;
		display: inline-block;
	}
	.row-value{
		color:@font-color-7;
		text-align: left;
		display: inline-block;
	}
}
.partientsSearch {
/*	position: relative;
	ul {
		position: absolute;
		top:110%;
		left: 0;
		width: 130%;
		background: #fff;
		border: 1px solid #e3e3e3;
		padding: 20px 0;
		z-index: 9;
		height: 300px;
		overflow: auto;
		color: #333;
		li {
			width: 100%;
			padding: 0px 20px;
			box-sizing: border-box;

			&:hover,.active {
				color: #fff;
				background: #00a6c9;
			}
		}
	}*/
}
.newCreateBtn{
	font-size:@font-size-14;
	color:@font-color-3;
	float: right;
	line-height: 26px;
	margin-top:10px;
	.export-icon{
		color:@font-color-3;
		font-size:@font-size-20;
	}
}
.patients{
	.patients-baseinfo{
		height: calc(~"100%");
		padding-top:20px;
	}
	.curve-diagram-main{

	}
}
.keywordInput {
	width: 100%;
	height: 26px;
	border: 0px;
	padding: 0px 5px;
}
//诊断
.patients-baseinfo{
	// .normal{
	// 	position: relative;
	// }
	.timeline{
		padding-top:30px;
	}
	.timeline::before{
		left:90px !important;
		width:1px;
	}
	timeline-badge{
		width:13px;
		height:13px;
		.border(2px,solid,@font-color-10);
		background:@font-color-3;
		.border-radius(100px,100px,100px,100px);
		left:108px !important;
		box-shadow:0 0 0 0px rgba(255,255,255,0), inset 0 0px 0 rgba(0, 0, 0, 0), 0 0px 0 0px rgba(0, 0, 0, 0);
	}
	.timeline-inverted timeline-panel{
		float:left !important;
	}
	timeline-panel{
		margin-left:120px !important;
		background-color:@icon-bg-color-7;
		.border(0px,solid,@icon-bg-color-7);
		.box-shadow(0px,1px,4px,0px,rgba(0, 0, 0, 0.1));
	}
	@media only screen and (min-width: 768px) {
	  timeline-panel {
	    width:calc(~"100% - 150px");
	  }
	}

	@media only screen and (max-width: 767px) {
	  .timeline:before {
	    left: 40px;
	  }

	  timeline-panel {
	    width:calc(~"100% - 150px");
	  }
	}
	.timeline-panel{
		width:calc(~"100%");
	}
	timeline-panel:before {
		position: absolute;
		top: 35px;
		right: -9px;
		display: inline-block;
		border-top: 9px solid transparent;
		border-left: 9px solid rgba(0, 0, 0, 0.05);
		border-right: 0 solid rgba(0, 0, 0, 0.05);
		border-bottom: 9px solid transparent;
		content: " ";
	}
	timeline-panel:after {
		position: absolute;
		top: 36px;
		right: -8px;
		display: inline-block;
		border-top: 8px solid transparent;
		border-left: 8px solid @icon-bg-color-7;
		border-right: 0 solid @icon-bg-color-7;
		border-bottom: 8px solid transparent;
		content: " ";
	}
	timeline-panel:before {
		border-left-width: 0;
		border-right-width: 9px;
		left: -9px;
		right: auto;
		top: 23px;
	}
	timeline-panel:after {
		border-left-width: 0;
		border-right-width: 8px;
		left: -8px;
		right: auto;
		top: 24px;
	}
	.timeline-inverted timeline-panel:before {
		border-left-width: 0;
		border-right-width: 9px;
		left: -9px;
		right: auto;
	}
	.timeline-inverted timeline-panel:after {
		border-left-width: 0;
		border-right-width: 8px;
		left: -8px;
		right: auto;
	}

	.content-main{
		width:100%;
		overflow:hidden;
		.identification{
			float: left;
			width: 35px;
			display: block;
			height: 20px;
			line-height: 20px;
			text-align:center;
			color:@font-color-3;
			font-size: @font-size-12;
			.border-radius(4px,4px,4px,4px);
		}
		.visit-icon{
			background:@font-color-10;
		}
		.first-visit{
			background:@icon-bg-color-1;
		}
		.item-baseinfo{
			float: left;
			width:calc(~"100% - 35px");
			padding-left:10px;
			p{
				overflow:hidden;
				margin-bottom:10px;
				line-height: 20px;
				font-size:@font-size-14;
			}
		}
		.baseinfo-key{
			width:70px;
			color:@font-color-5;
			float: left;
			display: block;
		}
		.baseinfo-value{
			width: calc(~"100% - 70px");
			padding-left: 10px;
			color:@font-color-7;
			float: left;
			display: block;
		}
		.baseinfo-details{
			color:@font-color-4;
			cursor: pointer;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.record-time{
		width:60px;
		height: auto;
		display: block;
		position: absolute;
		top:13px;
		left: -107px;
		color: @font-color-5;
		font-size: @font-size-12;
		line-height: 14px;
		text-align: right;
		b{
			font-size: @font-size-14;
			font-weight: bold;
			display: block;
		}
	}
	.tody-record{
		width:26px;
		height: 26px;
		text-align: center;
		line-height: 26px;
		display: block;
		position: absolute;
		background: @font-color-4;
		color:@font-color-3;
		font-size: @font-size-14;
		top:0px;
		left: 77px;
		z-index: 6;
		.border-radius(100px,100px,100px,100px);
	}
}

// 用药/ACT
.chooise-time{
	width:260px;
	height: 32px;
	line-height: 32px;
	padding-left:25px;
	.left-title{
		text-align: right;
		display: inline-block;
		font-size:@font-size-14;
		color:@font-color-5;
		margin-right:5px;
	}
	.right-content{
		width:170px;
		height: 32px;
		line-height: 30px;
		.border(1px,solid,@font-color-9);
		.border-radius(4px,4px,4px,4px);
		position: relative;
		display: inline-block;
	}
	.date-input{
		width: 100%;
	    height: 30px;
		font-size: @font-size-14;
		color:@font-color-7;
		padding:0px 25px 0px 5px;
		.border-radius(4px,4px,4px,4px);
		.border(0px,solid,@font-color-9);
	}
	.date-icon{
		position: absolute;
		font-size: @font-size-15;
		top: 0px;
	    right: 11px;
	    height: 30px;
	}
}
.curve-diagram-main{
	width:calc(~"100%");
	height: auto;
	overflow:hidden;
	position: relative;
	.opcity {
		opacity: 0;
	}
	img {
		width: 30%;
		position: absolute;
		left: 40%;
		top: 30%;
	}
}
.instruction-text{
	width: calc(~"100% - 40px");
	height: 32px;
	margin:30px 20px 10px;
	.border(1px,solid,@font-color-9);
	.border-radius(4px,4px,4px,4px);
	background:@icon-bg-color-7;
	padding:0px 15px;
	span{
		float: left;
		display:flex;
	    align-items:center;
		margin-right:20px;
		min-width: 150px;
		height: 32px;
    	line-height: 32px;
		color:@font-color-13;
		font-size:@font-size-14;
		b{
			color:@font-color-8;
			margin-left:15px;
			font-weight: normal;
		}
		i{
			display: inline-block;
			height: 21px;
			line-height:21px;
			color:@font-color-3;
			font-size:@font-size-12;
			background: @icon-bg-color-4;
			.border-radius(4px,4px,4px,4px);
			padding:0px 5px;
			margin-left:5px;
		}
	}
}
.popover.right {
	background: #000;
	opacity: 0.9 !important;
	color: #fff;
}
.popover.right>.arrow:after {
	border-right-color: #000 !important;
}
.popover.top {
	background: #000;
	opacity: 0.9 !important;
	color: #fff;

}
.popover.top>.arrow:after {
	border-top-color: #000 !important;
}