<div class="delete-modal">
    <h2 class="delete-modal-title" data-ng-bind="deleteModalCtrlVm.items.title"></h2>
    <div class="delete-modal-content">
        <i class="warning-icon"></i>
        <span class="text" data-ng-bind="deleteModalCtrlVm.items.content"></span>
    </div>
    <div class="delete-modal-btn">
        <a data-ng-click="deleteModalCtrlVm.cancle()" class="button botton-cancle">取消</a>
        <a data-ng-click="deleteModalCtrlVm.delete()" class="button-default botton-delete"><i class="delete delete-icon"></i>删除</a>
    </div>
</div>