<div class="modal-title">
    <span data-ng-bind="editPasswordVm.items.title"></span>
    <i class="close-modal" data-ng-click="editPasswordVm.close()"></i>
</div>
<div class="edit-password">
    <form name="editPassword">
        <div class="patientinfo">
            <span class="left-title">当前密码:</span>
            <span class="right-content">
                <input type="text" class="password" placeholder="输入当前密码">
            </span>
        </div>
        <div class="patientinfo">
            <span class="left-title">新密码:</span>
            <span class="right-content">
                <input type="text" class="password" placeholder="输入新密码">
            </span>
        </div>
        <div class="patientinfo">
            <span class="left-title">确认密码:</span>
            <span class="right-content">
                <input type="text" class="password" placeholder="确认新密码">
            </span>
        </div>
        <div class="patientinfo text-center password-btn">
            <a data-ng-click="editPasswordVm.save()" class="button-default botton-save"><i class="save save-icon"></i>保存</a>
            <a data-ng-click="editPasswordVm.close()" class="button botton-close">关闭</a>
        </div>
        <p class="warning text-center"><i class="warning-icon"></i>提示：密码修改成功下次登录启用新密码！</p>
    </form>
</div>