<div class="modal-title" drag-modal>
    <span class="title" data-ng-bind="title"></span>
    <i class="close-modal" data-ng-click="close()"></i>
</div>
<div class="edit-password dryad-drag-disabled">
    <form name="editPassword">
        <div class="patientinfo">
            <span class="left-title left-title-login"><span class="required-field"></span>当前密码:</span>
            <span class="right-content right-content-login">
                <input type="text" class="password" data-ng-model="editPasswordObj.oldPassword" placeholder="输入当前密码">
            </span>
        </div>
        <div class="patientinfo">
            <span class="left-title left-title-login"><span class="required-field"></span>新密码:</span>
            <span class="right-content right-content-login">
                <input type="text" data-ng-model="editPasswordObj.newPassword" class="password" placeholder="输入新密码">
            </span>
        </div>
        <div class="patientinfo">
            <span class="left-title left-title-login"><span class="required-field"></span>确认密码:</span>
            <span class="right-content right-content-login">
                <input type="text" data-ng-model="editPasswordObj.confirmPassword" class="password" placeholder="确认新密码">
            </span>
        </div>
        <div class="patientinfo text-center password-btn">
            <a data-ng-click="save()" class="button-default botton-save"><i class="save save-icon"></i>保存</a>
            <a data-ng-click="close()" class="button botton-close">关闭</a>
        </div>
        <p class="warning text-center"><i class="warning-icon"></i>提示：密码修改成功下次登录启用新密码！</p>
    </form>
</div>