<div class="dryad-head">
    <div class="dryad-head-search">
        <label class="head-search">
            <!-- <input class="search-input" type="text" placeholder="姓名/拼音/病历号查询"> -->
            <ui-select class="search-input" theme="bootstrap" search-enabled="true" autofocus="true" data-ng-model="search.searchKey">
                <ui-select-match placeholder="姓名/拼音/病历号查询">
                    <div data-ng-bind="$select.selected.name"></div>
                </ui-select-match>
                <ui-select-choices  repeat="person in searchList | filter: $select.search track by $index">
                    <div data-ng-bind="person.name"></div>
                </ui-select-choices>
            </ui-select>
            <i class="search"></i>
        </label>
        <a data-ng-click=""><i class="new-add"></i>新建病历</a>
    </div>
    <div class="dryad-head-operate">
        <a class="meetting-list"><i class="meeting"></i></a>
        <a class="task-list"><i class="task"></i></a>
        <div class="user-operate">
            <a data-ng-click="" class="user">
                <i class="user-img"><img data-ng-src={{userimg}} alt=""></i>
                <span class="head-user-name">Jyue Huang</span>
                <i class="user-select"></i>
            </a>
            <ul class="user-select-list" ng-show="false">
                <li><i class="change-password"></i>修改密码</li>
                <li><i class="lock-window"></i>锁定屏幕</li>
                <li><i class="sign-out"></i>退出</li>
            </ul>
        </div>
    </div>
</div>