<div class="screen">
    <i class="screen-dialog dialog-needle"></i>
    <div class="screen-main">
        <div class="screen-table">
            <div class="table-title">
                <span class="colm-15">逻辑关系</span>
                <span class="colm-20">查询主题</span>
                <span class="colm-15">查询条件</span>
                <span class="colm-35">查询域值</span>
                <span class="colm-btn"></span>
            </div>
            <div class="screen-conditions-row" data-ng-repeat="item in screenData track by $index">
                <div class="colm colm-15">
                    <div class="date-select" data-ng-if="$index != 0">
                        <ui-select data-ng-model="item.logic" search-enabled="false" theme="select2">
                            <ui-select-match placeholder="逻辑关系">
                                <span data-ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in searchSelect">
                                <span data-ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="colm colm-20">
                    <div class="date-select">
                        <ui-select data-ng-model="item.theme" theme="bootstrap" reset-search-input="true" search-enabled="fasle">
                            <ui-select-match placeholder="查询主题">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="address.id as address in searchSelect track by $index" data-ng-hide="searchSelect.length == 0">
                                <!-- refresh="ctrl.refreshAddresses($select.search)" refresh-delay="0" -->
                                <div data-ng-bind-html="address.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="colm colm-15">
                    <div class="date-select">
                        <ui-select data-ng-model="item.conditions" theme="bootstrap" reset-search-input="true">
                            <ui-select-match placeholder="查询条件">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in searchSelect" data-ng-hide="searchSelect.length == 0">
                                <!-- refresh="ctrl.refreshAddresses($select.search)" refresh-delay="0" -->
                                <div data-ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="colm colm-35">
                    <!-- 下拉框 -->
                    <div class="date-select" data-ng-if="false">
                        <ui-select data-ng-model="item.domainValues" theme="bootstrap" reset-search-input="true">
                            <ui-select-match placeholder="查询域值">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in searchSelect" data-ng-hide="searchSelect.length == 0">
                                <!-- refresh="ctrl.refreshAddresses($select.search)" refresh-delay="0" -->
                                <div data-ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!-- 文本输入框 -->
                    <input class="date-select-text" type="text" data-ng-model="item.domainValues">
                    <!-- 日期 -->
                    <div class="date-select-time" data-ng-if="false">
                        <span class="right-content">
                            <input class="date-input" data-ng-model="item.startDate" placeholder="____-__-__"/>
                            <i class="date-icon date-time" dryad-date-time-picker></i>
                        </span>
                        <span class="contact-line">-</span>
                        <span class="right-content">
                            <input class="date-input" data-ng-model="item.endDate" placeholder="____-__-__"/>
                            <i class="date-icon date-time" dryad-date-time-picker></i>
                        </span>
                    </div>
                </div>
                <div class="colm colm-btn">
                    <div class="colm-btn-box">
                        <a class="screen-icon screen-add" data-ng-click="addRow($index)"><i class="add"></i></a>
                        <a class="screen-icon screen-reduction" data-ng-click="deleteRow($index)" data-ng-if="$index != 0"><i class="reduction"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-btn">
            <a data-ng-click="closeScreen()" class="screen-close">关闭</a>
            <a data-ng-click="searchScreen()" class="screen-search-btn button-default botton-search"><i class="search"></i>搜索</a>
            <a data-ng-click="resetScreen()" class="screen-reset-btn button botton-cancle">重置</a>
        </div>
    </div>
</div>