<div class="modal-title">
    <span data-ng-bind="items.title"></span>
    <i class="close-modal" data-ng-click="addEditRoleCtrlVm.closedModal()"></i>
</div>

<!-- 新增科室或者修改科室 -->
<div class="sure-patient add-department">
    <div class="patientinfo">
        <span class="left-title">角色名称:</span>
        <span class="right-content">
            <input type="text" class="user-input" placeholder="请输入角色名称" data-ng-model="roleObj.name">
        </span>
    </div>
    <div class="patientinfo department-textarea">
        <span class="left-title">角色描述:</span>
        <span class="right-content">
            <div class="description-textarea">
                <textarea data-ng-model="roleObj.description" placeholder="请输入角色描述"></textarea>
            </div>
        </span>
    </div>
    <!-- 按钮 -->
    <div class="patientinfo text-right password-btn">
        <a data-ng-click="addEditRoleCtrlVm.closedModal()" class="button botton-close">取消</a>
        <a data-ng-click="addEditRoleCtrlVm.sure()" class="button-default botton-save"><i class="save save-icon"></i>保存</a>
    </div>
</div>