<div class="modal-title">
    <span>查看药品</span>
    <i class="close-modal" data-ng-click="closedModal()"></i>
</div>

<!-- 新增科室或者修改科室 -->
<div class="sure-patient add-department">
    <div class="patientinfo">
        <span class="left-title">药品分类:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.drugclass"></div>
        </span>
    </div>
    <div class="patientinfo">
        <span class="left-title">药品编号:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.nor"></div>
        </span>
    </div>
    <div class="patientinfo">
        <span class="left-title">药品名称:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.name"></div>
        </span>
    </div>
    <div class="patientinfo">
        <span class="left-title">药品单位:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.unit"></div>
        </span>
    </div>
    <div class="patientinfo">
        <span class="left-title">剂型:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.dosageForm"></div>
        </span>
    </div>
    <div class="patientinfo">
        <span class="left-title">制造商:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.manufacturer"></div>
        </span>
    </div>
    <div class="patientinfo">
        <span class="left-title">国药准字:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.approved"></div>
        </span>
    </div>
    <div class="patientinfo department-textarea">
        <span class="left-title">备注:</span>
        <span class="right-content">
            <div data-ng-bind="drugdictionary.remark"></div>
        </span>
    </div>
    <!-- 按钮 -->
    <div class="patientinfo text-right programs-btn">
        <a data-ng-click="closedModal()" class="button botton-close">取消</a>
        <a data-ng-click="edit()" class="button-default botton-save"><i class="change-password"></i>修改</a>
    </div>
</div>