<div class="modal-title">
    <span data-ng-bind="action"></span>
    <i class="close-modal" data-ng-click="addEditDepartmentCtrlVm.closedModal()"></i>
</div>

<!-- 新增科室或者修改科室 -->
<div class="sure-patient add-department">
    <div class="patientinfo">
        <span class="left-title">科室名称:</span>
        <span class="right-content">
            <input type="text" class="user-input" placeholder="请输入科室名称" data-ng-model="departmentObj.name">
        </span>
    </div>
    <div class="patientinfo">
        <span class="left-title">科室性质:</span>
        <span class="right-content">
            <div class="nature-select">
                <ui-select data-ng-model="departmentObj.nature" search-enabled="false" theme="select2">
                        <ui-select-match placeholder="请选择"><span data-ng-bind="$select.selected.name"></span></ui-select-match>
        <ui-select-choices repeat="item.id as item in natureSelect">
            <span data-ng-bind="item.name"></span>
        </ui-select-choices>
        </ui-select>
    </div>
    </span>
</div>
<div class="patientinfo department-textarea">
    <span class="left-title">科室描述:</span>
    <span class="right-content">
        <div class="description-textarea">
            <textarea data-ng-model="departmentObj.description" placeholder="请输入科室描述"></textarea>
        </div>
    </span>
</div>
<!-- 按钮 -->
<div class="patientinfo text-right  programs-btn">
    <a data-ng-click="addEditDepartmentCtrlVm.closedModal()" class="button botton-close">取消</a>
    <a data-ng-click="addEditDepartmentCtrlVm.sure()" class="button-default botton-save"><i class="save save-icon"></i>保存</a>
</div>
</div>