<div class="modal-title" drag-modal>
    <span class="title" data-ng-bind="action"></span>
    <i class="close-modal" data-ng-click="closedModal()"></i>
</div>
<form verify-scope="tipStyle:2" name="checkForm" class="dryad-drag-disabled">
    <!-- 新增科室或者修改科室 -->
    <div class="sure-patient add-department">
        <div class="patientinfo">
            <span class="left-title"><span class="required-field"></span>科室名称:</span>
            <span class="right-content">
                <input type="text" class="user-input" ng-verify placeholder="请输入科室名称" data-ng-model="departmentObj.deptName" required>
            </span>
        </div>
        <div class="patientinfo">
            <span class="left-title">科室性质:</span>
            <span class="right-content">
                <div class="nature-select">
                    <ui-select data-ng-model="departmentObj.deptProperty" search-enabled="false" theme="select2">
                        <ui-select-match placeholder="请选择"><span data-ng-bind="$select.selected.dictItemName"></span>
                    </ui-select-match>
                <ui-select-choices repeat="item.dictItemValue as item in natureSelect">
                <span data-ng-bind="item.dictItemName"></span>
            </ui-select-choices>
            </ui-select>
        </div>
        </span>
    </div>
    <div class="patientinfo department-textarea">
        <span class="left-title">科室描述:</span>
        <span class="right-content">
            <div class="description-textarea">
                <textarea data-ng-model="departmentObj.memo" placeholder="请输入科室描述"></textarea>
            </div>
        </span>
    </div>
    <!-- 按钮 -->
    <div class="patientinfo text-right  programs-btn">
        <button data-ng-click="closedModal()" class="button botton-close">取消</button>
        <button data-ng-click="sure()" ng-verify="{control:'checkForm'}" class="button-default botton-save"><i class="save save-icon"></i>保存</button>
    </div>
</form>