<div class="employee-details">
    <form verify-scope="tipStyle:2" name="checkForm">
        <div class="employee-details-title">
            <b class="left-title" data-ng-bind="title"></b>
            <button data-ng-click="save()" class="button-default botton-save" ng-verify="{control:'checkForm'}"><i class="save save-icon"></i>保存</button>
            <button data-ng-click="cancel()" class="button botton-close">取消</button>
        </div>
        <div class="employee-details-main">
            <div class="left-main">
                <div class="lm-employee">
                    <i class="lm-employee-logo"><img class="headpic" data-ng-src={{otherObj.headPicUrl}} alt="员工头像"></i>
                    <label class="fileLabel">
                        <a class="patients-especial botton-special">上传头像</a>
                        <input class="upfile" type="file" accept="image/jpg, image/jpeg, image/png" style="opacity:0;cursor:pointer;" service-fn="serviceFunc" preview-src="otherObj.headPicUrl" dryad-upload-img>
                    </label>
                    <!-- <dryad-upload-img btn-name="'上传头像'" service-fn="serviceFunc"></dryad-upload-img> -->
                </div>
                <div class="lm-employee" data-ng-if="id">
                    <span class="ewm"><img data-ng-src={{otherObj.qrCodeUrl}} alt="员工二维码"></span>
                    <a data-ng-click="print()" class="patients-especial botton-special">打印</a>
                    <a data-ng-click="download()" class="patients-especial botton-special">下载</a>
                </div>
            </div>
            <div class="right-main">
                <div class="right-main-l">
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>姓名:</span>
                        <span class="right-content">
                            <input type="text" placeholder="请输入姓名" ng-verify class="form-input" data-ng-model="departmentObj.name">
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>性别:</span>
                        <span class="right-content">
                            <a class="sex-chooise" data-ng-click="chooiseSex()">
                                <i class="man" data-ng-class="{'manactive':isBoy}">男</i>
                                <i class="women" data-ng-class="{'womenactive':!isBoy}">女</i>
                            </a>
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title">生日:</span>
                        <span class="right-content">
                            <span class="date-main">
                                <dryad-date-time-picker date-data="departmentObj.birthday"></dryad-date-time-picker>
                            </span>
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>手机号码:</span>
                        <span class="right-content">
                            <input type="text" placeholder="请输入手机号码" ng-verify="{max:11,pattern:/^1{1}[1-9]{1}[0-9]{9}$/}" input-mask='[9][9][9][9][9][9][9][9][9][9][9]' class="form-input" data-ng-model="departmentObj.phoneNo">
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>邮箱:</span>
                        <span class="right-content">
                            <input type="email" placeholder="请输入邮箱" ng-verify data-ng-model="departmentObj.email" class="form-input">
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>职称:</span>
                        <span class="right-content">
                            <!-- <input type="text" placeholder="请输入职称" class="form-input" data-ng-model="departmentObj.titles"> -->
                            <div class="nature-select">
                                <ui-select data-ng-model="departmentObj.titles" ng-verify search-enabled="false" theme="select2">
                                    <ui-select-match placeholder="请选择职称"><span data-ng-bind="$select.selected.dictItemName"></span></ui-select-match>
                                <ui-select-choices repeat="item.dictItemValue as item in jobTitleList">
                                    <span data-ng-bind="item.dictItemName"></span>
                                </ui-select-choices>
                                </ui-select>
                            </div>
                        </span>
                    </div>
                    <div class="form overflow-h">
                        <span class="left-title"><span class="required-field"></span>简介:</span>
                        <span class="right-content right-height-auto">
                            <div class="description-textarea">
                                <textarea placeholder="请输入个人简介" ng-verify data-ng-model="departmentObj.baseInfo"></textarea>
                            </div>
                        </span>
                    </div>
                    <div class="form overflow-h">
                        <span class="left-title"><span class="required-field"></span>擅长:</span>
                        <span class="right-content right-height-auto">
                            <div class="description-textarea">
                                <textarea placeholder="请输入擅长领域" ng-verify data-ng-model="departmentObj.goodAt"></textarea>
                            </div>
                        </span>
                    </div>
                    <div class="form overflow-h">
                        <span class="left-title"><span class="required-field"></span>在职状态:</span>
                        <span class="right-content">
                            <a class="sex-chooise" data-ng-click="isWork()">
                                <i class="man" data-ng-class="{'manactive':working}">在职</i>
                                <i class="women" data-ng-class="{'womenactive':!working}">离职</i>
                            </a>
                        </span>
                        <span class="warning"><i class="warning-icon"></i>离职员工不能登录系统</span>
                    </div>
                </div>
                <div class="right-main-r">
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>所属科室:</span>
                        <span class="right-content">
                            <div class="nature-select">
                                <ui-select data-ng-model="departmentObj.deptId" ng-verify search-enabled="false" theme="select2">
                                    <ui-select-match placeholder="选择科室"><span data-ng-bind="$select.selected.deptName"></span></ui-select-match>
                                <ui-select-choices repeat="item.deptId as item in departmentList">
                                    <span data-ng-bind="item.deptName"></span>
                                </ui-select-choices>
                                </ui-select>
                            </div>
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>所属角色:</span>
                        <span class="right-content">
                            <div class="nature-select">
                                <ui-select data-ng-model="departmentObj.roleId" ng-verify search-enabled="false" theme="select2">
                                    <ui-select-match placeholder="选择账号所选角色"><span data-ng-bind="$select.selected.roleName"></span></ui-select-match>
                                    <ui-select-choices repeat="item.roleId as item in roleList"><span data-ng-bind="item.roleName"></span></ui-select-choices>
                                </ui-select>
                            </div>
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span class="required-field"></span>登录账号:</span>
                        <span class="right-content">
                            <input type="text" placeholder="输入登录账号" data-ng-disabled="true" class="form-input" data-ng-model="departmentObj.phoneNo" style="background: #eee;">
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span data-ng-if="!id" class="required-field"></span>登录密码:</span>
                        <span class="right-content">
                            <input type="password" data-ng-if="!id" placeholder="输入密码"  ng-verify="min:6,max:16,pattern:/^[A-Za-z0-9]{6,16}$/,errmsg:'登录密码必须是6到16位的大小写字母以及数字'" name="passwordc" class="form-input" data-ng-model="departmentObj.password">
                            <input type="password" data-ng-if="id" placeholder="输入密码" name="passwordc" class="form-input" data-ng-model="departmentObj.password">
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><span data-ng-if="!id" class="required-field"></span>确认密码:</span>
                        <span class="right-content">
                            <input type="password" data-ng-if="!id" placeholder="确认密码" ng-verify="{recheck:'passwordc'}" class="form-input" data-ng-model="departmentObj.confirmPassword">
                            <input type="password" data-ng-if="id" placeholder="确认密码" class="form-input" data-ng-model="departmentObj.confirmPassword">
                        </span>
                    </div>
                    <div class="form float-l">
                        <span class="left-title"><input type="checkbox" data-ng-model="departmentObj.dateKeyboarder"></span>
                        <span class="right-content">允许查看全院患者数据</span>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>