<div class="searchTitle">
    <label class="head-search inputSearch">
        <ui-select ng-model="searchList.resource" theme="select2" search-enabled="false" class="search-drug form-control form-white">
            <ui-select-match placeholder="全部资源">
                <span>{{$select.selected.name}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in searchResourceList" refresh="itemSearch($select.search)" refresh-delay='300'>
                <span>{{item.name}}</span>
            </ui-select-choices>
        </ui-select>
    </label>
    <label class="head-search inputSearch">
        <ui-select ng-model="searchList.classify" theme="select2" search-enabled="false" class="search-drug form-control form-white">
            <ui-select-match placeholder="全部分类">
                <span>{{$select.selected.name}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in searchClassifyList" refresh="searchClassify($select.search)" refresh-delay='300'>
                <span>{{item.name}}</span>
            </ui-select-choices>
        </ui-select>
    </label>
    <label class="head-search">
            <span class="search-input">
                <ui-select ng-model="searchList.customer"
                           theme="bootstrap"
                           reset-search-input="true">
                    <ui-select-match placeholder="客户姓名、手机号、会员号...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="address.id as address in searchCustomerList track by $index"
                                       data-ng-hide="searchSelect.length == 0" class="set-width">
                        <div ng-bind-html="address.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </span>
        <i class="search searchBg"></i>
    </label>
    <button ><i class="new-add"></i>新增资源</button>
</div>
<!-- grid -->
<div class="dryad-grid medical-history-height">
    <dryad-ui-grid grid-options="gridOptions"></dryad-ui-grid>
</div>
<!-- page -->
<div class="common-page">
    <dryad-ui-page page-config="pageConfig"></dryad-ui-page>
</div>