<!-- <div class="float-title">
    <a data-ng-click="" class="info-save button-default botton-save"><i class="save save-icon"></i>保存</a>
</div>
<div class="patients-baseinfo">
    <div class="baseinfo-row"><span class="row-key">病历号:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">姓名:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">就诊日期:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">性别:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">出生日期:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">职业:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">联系电话:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">国籍:</span><span class="row-value">内容</span></div>
    <div class="baseinfo-row"><span class="row-key">常住地址:</span><span class="row-value">内容</span></div>
</div> -->
健康档案