<div class="main-right-search">
    <div class="searchTitle">
        <label class="head-search">
            <span class="search-input">
                <ui-select ng-model="patientsSearchVm.searchkey"
                        theme="bootstrap"
                        reset-search-input="true">
                    <ui-select-match placeholder="客户姓名/手机号查询">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="address.id as address in patientsSearchVm.searchSelect track by $index" 
                        data-ng-hide="patientsSearchVm.searchSelect.length == 0" class="set-width">
                        <!-- refresh="ctrl.refreshAddresses($select.search)" refresh-delay="0" -->
                        <div ng-bind-html="address.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </span>
            <!-- <input  type="text" placeholder="客户姓名/手机号查询"> -->
            <i class="search searchBg"></i>
        </label>
        <a data-ng-click="" class="screening">
            高级筛选
            <i class="full-selectdown"></i>
        </a>
        <dryad-screen-ui screen-data="screenData" search-fn="patientsSearchVm.searchFn"></dryad-screen-ui>
    </div>
    <!-- screen conditions -->
    <div class="advanced-filter" data-ng-if="screenData.length > 0">
        <div class="filter-title">高级筛选&nbsp;&nbsp;></div>
        <div class="filter-conditions">
            <div class="every-item" data-ng-repeat="item in screenData track by $index">
                <span class="filter-range" data-ng-bind="item.logic"></span>
                <span>{{($index + 1) + '、'}}</span>
                <span data-ng-bind="item.theme"></span>
                <span data-ng-bind="item.conditions"></span>
                <span data-ng-bind="item.domainValues"></span>
                <a data-ng-click="patientsSearchVm.deleteFilter($index)">删除</a>
            </div>
            <div class="filter-operate">
                <a class="filter-clear" data-ng-click="patientsSearchVm.clearFilter()">清空</a>
                <a class="filter-edite" data-ng-click="patientsSearchVm.editFilter()">修改筛选条件</a>
            </div>
        </div>
    </div>
    <!-- grid -->
    <div class="dryad-grid medical-history-height">
        <dryad-ui-grid grid-options="gridOptions"></dryad-ui-grid>
    </div>
    <!-- page -->
    <div class="common-page">
        <dryad-ui-page page-config="pageConfig"></dryad-ui-page>
    </div>
</div>