<div class="medical-history-details patients">
    <div class="details-title">
        <div class="patinets-info">
            <i class="patients-logo"><img data-ng-src={{userimg}} alt=""></i>
            <div class="patients-formation">
                <span class="name"><b>患者姓名</b><i class="patients-man"></i>23岁</span>
                <span class="mobile"><i class="mobile-icon"></i>15138991340</span>
            </div>
            <div class="patients-formation">
                <span><span class="title">病历编号:</span>353453345354354</span>
                <span><span class="title">病历类型:</span>初诊病历</span>
            </div>
        </div>
        <div class="patients-btn">
            <a data-ng-click="" class="button-default botton-save patients-preview"><i class="patients-preview-icon"></i>病历预览</a>
            <a data-ng-click="" class="patients-especial botton-special"><i class="new-add"></i>特殊哮喘记录</a>
        </div>
    </div>
    <div class="details-content">
        <div class="tab-title">
            <tabs data="tabData" type="pills" template-url="ui-router-tabs-custom-ui-view-template.html"></tabs>
        </div>
        <div class="tab-content">
            <ui-view></ui-view>
        </div>
    </div>
</div>