<div class="patients-baseinfo">
    <div class="chooise-time">
        <span class="left-title">时间:</span>
        <span class="right-content">
            <input class="date-input" ng-model="birthday"  placeholder="____-__-__"/>
            <i class="date-icon date-time" dryad-date-time-picker></i>
        </span>
    </div>
    <div class="curve-diagram-main">
        <div dryad-echarts="diagramOptionTwo" ratio='1'></div>
    </div>
    <div class="instruction-text">
        <span>测评项目:<b>C-ACT 测评</b></span>
        <span>分数:<b>18分</b><i class="no-ctrol">未控制</i></span>
    </div>
</div>