<div class="reset-password">
	<span class="return-login" data-ng-click="login()">关闭</span>
    <b>重置密码</b>
    <form name="resetpassword">
        <label class="phon-number">
            <input type="text" data-ng-model="resetPasswordObj.userCode" placeholder="请输入账号">
            <i class="user-name"></i>
        </label>
        <label class="phon-number">
            <input type="text" data-ng-disabled="disabled" data-ng-model="resetPasswordObj.phoneNo" placeholder="输入手机号">
            <i class="user-name"></i>
        </label>
        <div class="get-check">
            <label class="check-number">
                <input type="text" data-ng-model="resetPasswordObj.verifyCode" placeholder="输入验证码">
            </label>
            <a data-ng-click="sendCheckCode()">{{sendCheckCodeText}}</a>
        </div>
        <label class="new-password">
            <input type="password" data-ng-model="resetPasswordObj.newPassword" placeholder="输入新密码">
            <i class="pass-word"></i>
        </label>
        <label class="sure-password">
            <input type="password" data-ng-model="resetPasswordObj.confirmPassword" placeholder="确认密码">
            <i class="pass-word"></i>
        </label>
        <div class="forgetpass mg-b-10">
            <p data-ng-if="showhide && changeFail" class="red"><span>提示：{{failText}}</p>
        </div>
        <div class="submite"><a data-ng-click="save()">保存</a></div>
        <p data-ng-if="showhide && changeSuccess"><span>提示：密码重置成功!{{num}}秒后跳转至登录界面</span>或<a data-ng-click="login()" class="color-3b">点击此处直接跳转</a></p>
    </form>
</div>