<div class="reset-password">
    <b>重置密码</b>
    <form name="resetpassword">
        <label class="phon-number">
            <input type="text" placeholder="输入手机号">
            <i class="user-name"></i>
        </label>
        <label class="check-number">
            <input type="text" placeholder="输入验证码">
        </label>
        <label class="new-password">
            <input type="text" placeholder="输入新密码">
            <i class="user-name"></i>
        </label>
        <label class="sure-password">
            <input type="text" placeholder="确认密码">
            <i class="pass-word"></i>
        </label>
        <div class="submite"><a>保存</a></div>
        <div class="forgetpass">
            <p>提示：密码重置成功3秒后跳转至登录界面或<a data-ng-click="login()">点击此处直接跳转</a></p>
        </div>
    </form>
</div>