@charset 'UTF-8';

.multiple{
	height: auto;
	display: flex;
	margin-bottom: 10px;
	.right-content{
		height: auto;
	}
	.nature-select{
		height:auto;
	}
}
.employee-details{
	.experts-layout{
		width:100%;
	}
}
