@charset 'UTF-8';
.add-department{
	.patientinfo{
		padding:0px 80px; 
	}
	.user-input{
		width:260px;
		color:@font-color-1;
	}
	.nature-select{
		width:260px;
	    height: 30px;
    	.border(1px,solid,@font-color-9);
    	.border-radius(4px,4px,4px,4px);
	}
	.description-textarea{
		width:400px;
		height: 90px;
		textarea{
			width:398px;
			height: 88px;
			padding:3px 5px;
			line-height: 20px;
			.border(1px,solid,@font-color-9);
			.border-radius(4px,4px,4px,4px);
			outline: none;
			color:@font-color-1;
		}
	}
	.department-textarea{
		height: auto;
		overflow:hidden;
		.right-content{
			height: auto;
     		line-height:auto;
		}
	}
}