@charset 'UTF-8';
.programs-add-edit{
	overflow:hidden;
}
.programs-input{
	margin-bottom: 10px;
	height: 32px;
	.left-title{
		width:80px;
		text-align: right;
		height: 32px;
		line-height: 32px;
		float: left;
		overflow: hidden;
		margin-right:5px;
	}
	.right-content{
		float: left;
		width: calc(~"100% - 90px");
		height: 32px;
		.user-input{
			width:90%;
		}
		.nature-select{
			float: left;
			width: 20%;
			height: 32px;
			padding: 0px 5px 0px 0px;
		}
		.bootstrap-select{
			.border-radius(4px,4px,4px,4px);
			.border(1px,solid,@font-color-9);
		}
		.addressInfo{
			float: left;
			width: 40%;
		}
	}
}
.programs-upload{
	width:33%;
	display: inline-block;
	margin-bottom: 10px;
	.left-title{
		width:80px;
		text-align: right;
		height: 32px;
		line-height: 32px;
		float: left;
		overflow: hidden;
		margin-right:5px;
	}
	.right-content{
		float: left;
		width: calc(~"100% - 90px");
	}
	.warning{
	    font-size:@font-size-12;
	    color:@font-color-5;
	    letter-spacing:0;
	    line-height:16px;
	    margin:8px 0px 0px;
	    i{
	        font-size: @font-size-15;
	        color:@font-color-10;
	        margin-right:6px;
	    }
	}
	.orgLogo{
		width:120px;
		height:80px;
		.border(1px,dashed,@font-color-9);
		.border-radius(4px,4px,4px,4px);
		background:@font-color-3;
		text-align: center;
		line-height: 80px;
		cursor:pointer;
		position: relative;
		.upload-icon{
			font-size: @font-size-35;
			color:@font-color-4;
		}
		img{
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}
.orgLogo-view{
	width:240px;
	height: 180px;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		display: block;
	}
}
.text-view{
	width: 100%;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
}
.programs-btn{
	width: 100%;
	line-height: 52px;
	border-top:1px solid @font-color-24;
	padding:0px 20px !important;
	margin-top:30px;
	margin-bottom: 0px;
	.pullsend{
		display: inline-block;
		font-size: @font-size-14;
		color:@font-color-5;
		font-weight: normal;
	    margin: 0;
	    padding-right:15px;
		input{
			margin: 19px 5px 0px 0px;
    		float: left;
			width: 14px;
			height: 14px;
			.border(1px,solid,@font-color-1);
			.border-radius(2px,2px,2px,2px);
		}
	}
}
.config-info{
	display: inline-block;
	background:@icon-bg-color-7;
	.border(1px,solid,@font-color-9);
	.border-radius(4px,4px,4px,4px);
	height:22px;
	line-height: 22px;
	padding:0px 3px;
	font-size: @font-size-14;
	color:@font-color-5;
}